[submodule "runtime/java"]
	path = runtime/java
	url = https://github.com/kaitai-io/kaitai_struct_java_runtime.git
[submodule "runtime/python"]
	path = runtime/python
	url = https://github.com/kaitai-io/kaitai_struct_python_runtime.git
[submodule "runtime/ruby"]
	path = runtime/ruby
	url = https://github.com/kaitai-io/kaitai_struct_ruby_runtime.git
[submodule "tests"]
	path = tests
	url = https://github.com/kaitai-io/kaitai_struct_tests.git
[submodule "compiler"]
	path = compiler
	url = https://github.com/kaitai-io/kaitai_struct_compiler.git
