[submodule "runtime/java"]
	path = runtime/java
	url = https://github.com/kaitai-io/kaitai_struct_java_runtime.git
[submodule "runtime/python"]
	path = runtime/python
	url = https://github.com/kaitai-io/kaitai_struct_python_runtime.git
[submodule "runtime/ruby"]
	path = runtime/ruby
	url = https://github.com/kaitai-io/kaitai_struct_ruby_runtime.git
[submodule "tests"]
	path = tests
	url = https://github.com/kaitai-io/kaitai_struct_tests.git
[submodule "compiler"]
	path = compiler
	url = https://github.com/kaitai-io/kaitai_struct_compiler.git
[submodule "runtime/javascript"]
	path = runtime/javascript
	url = https://github.com/kaitai-io/kaitai_struct_javascript_runtime.git
[submodule "runtime/cpp_stl"]
	path = runtime/cpp_stl
	url = https://github.com/kaitai-io/kaitai_struct_cpp_stl_runtime.git
[submodule "runtime/csharp"]
	path = runtime/csharp
	url = https://github.com/kaitai-io/kaitai_struct_csharp_runtime
[submodule "formats"]
	path = formats
	url = https://github.com/kaitai-io/kaitai_struct_formats.git
[submodule "visualizer"]
	path = visualizer
	url = https://github.com/kaitai-io/kaitai_struct_visualizer.git
[submodule "runtime/php"]
	path = runtime/php
	url = https://github.com/kaitai-io/kaitai_struct_php_runtime
[submodule "runtime/perl"]
	path = runtime/perl
	url = https://github.com/kaitai-io/kaitai_struct_perl_runtime
[submodule "benchmarks"]
	path = benchmarks
	url = https://github.com/kaitai-io/kaitai_struct_benchmarks
[submodule "doc"]
	path = doc
	url = https://github.com/kaitai-io/kaitai_struct_doc
[submodule "runtime/go"]
	path = runtime/go
	url = https://github.com/kaitai-io/kaitai_struct_go_runtime
